html {
	font-size: 100%;
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
}

::-moz-selection {
	/* Code for Firefox */
	color: white;
	background: var(--primary);
}

::selection {
	color: white;
	background: var(--primary);
}

body {
	background-color: var(--bg);
	color: var(--color-body);
	margin: 0;
	padding: 0;
	font-family: "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-weight: 300;
}

/* @media (max-width: 250px) {
	html {
		font-size: 90%;
	}
} */

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

button[disabled] {
	background-color: rgba(255, 255, 255, 0.2);
	color: rgb(133, 133, 133);
	border-color: rgb(133, 133, 133);
}

svg {
	width: 1em;
	height: 1em;
	fill: #d8d8d8;
}

/* h1,
h2,
h2,
h3,
h5,
h6 {
	font-size: 16px;
} */

.container,
.container-full {
	position: relative;
	margin: 0 auto;
	width: 100%;
	padding: 0;
}

.track {
	display: flex;
	justify-content: flex-start;
	height: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	/* padding: var(--space-y) var(--space-x); */
}

.track > .col {
	--gap-col: 0.5em;
	--cols: 2;

	flex-basis: 100%;
	flex-grow: 0;
	flex-shrink: 1;
	min-width: 0;
}

.track .col:nth-child(3n) {
	/* background-color: rgb(255, 0, 0, 0.1); */
}
.track .col:nth-child(2n) {
	/* background-color: rgb(0, 0, 255, 0.05); */
}

@media (min-width: 768px) {
	.track > .col {
		flex-basis: calc(calc(100% / var(--cols)) - var(--gap-col));
	}
	.track .col:nth-child(2n + 1) {
		margin-right: var(--gap-col);
	}
	.track .col:nth-child(2n) {
		margin-left: var(--gap-col);
	}
}

@media (min-width: 768px) {
	.container {
		width: 85%;
	}
}
@media (min-width: 1366) {
	.container {
		width: 80%;
	}
}
@media (min-width: 1920) {
	.container {
		width: 75%;
	}
}

.noscroll {
	overflow: hidden;
}
